.navbar{
    background-color: #085E7D !important;
}

.bg-dark{
    background-color: #085E7D !important;
}



/* card içerisindeki görsellerin boyutları farklıysa ve bunu düzenlemek istiyorsak; */

.card-img-top{
    width: 100%;
    height: 25vh;
    object-fit: cover; /* background-size: cover ile aynı görevi görüyor.*/
}

#map{
    height: 450px;
}


@media (min-width: 768px) {
    .card-img-top{
        height: 32vh;

    }

    #map{
        height: 100%;
    }
    
}

/* Yukarıda yaptığımız ayarlamalarda 768px altındaki cihazlar için card içindeki resimlerin boyutunu 25vh olarak göster, 768'den büyük cihazlarda da 40'a çıkar demiş olduk. */

